.settings/org.eclipse.m2e.core.prefs
*.classpath
.settings/.jsdtscope
*.project
.settings/org.eclipse.jdt.core.prefs
*.class
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/com.pluralsight/ride_tracker/pom.xml
.springBeans
.settings/org.eclipse.wst.jsdt.ui.superType.name
*.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.common.project.facet.core.xml
target/classes/log4j.properties
target/m2e-wtp/web-resources/META-INF/maven/com.pluralsight/ride_tracker/pom.properties
/target/
